:root {
  --yellow: #FAB803;
  --light-yellow:#f0c03d;
  --white: #ffffff;
  --dark: #1A1423;
  --dark-blue: rgb(26,20,35);
  --gray:rgb(198,196,200);
  --light-gray:#F5F4F0;
}
/*-----------------Panha part----------------*/

/* ------subtitle 1 and 2------- */
.section-subtitle{
  width: 100%;
  background-color: rgb(46,39,20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  gap: 30px;
}
.section-subtitle-text{
  color: white;
}
.section-subtitle-text h1{
  font-size: 36px;
}
.section-subtitle-text p{
  line-height: 25px;
}
.section-subtitle-text button{
  background-color: var(--light-yellow);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.section-subtitle .section-subtitle-image img{
  width: 450px;
}
/* ------subtitle2------- */

.section-subtitle2{
  background-color: white;
}

.section-subtitle2 p,
.section-subtitle2 h1{
  color: var(--dark-blue);
}
/* ---------------member--------------- */
.member-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 60px;
  background-color: var(--white);
  padding: 80px;
}

.member-container .member-box-container{
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.member-box-container .member-image img{
  width: 160px;
  border-radius: 50%;
  padding-right:20px ;
}
.member-description .member-name{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.member-description .member-description-text{
  font-size: 16px;
  line-height: 24px;
}

/*--------------------------- responsive webpage --------------------------*/

@media screen and (max-width:1000px) {
  .section-subtitle{
    flex-direction: column;
    justify-content: flex-start;
  }
  .member-container{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
  }
  .member-container .member-box-container{
    display: flex;
    flex-direction: column;
  }
  .member-box-container .member-image img{
    width: 200px;
  }
}

@media screen and (max-width:850px) {
  .section-subtitle .section-subtitle-image img{
    width: 500px;
  }
  .section-subtitle{
    padding: 30px;
  }
  .member-container{
    padding: 30px;
  }
}
@media screen and (max-width:730px) {
  .member-box-container .member-image img{
    width: 160px;
  }
}

@media screen and (max-width:450px) {
  .section-subtitle .section-subtitle-image img{
    width: 400px;
    max-width: 95%;
    margin: 0 auto;
    display: block;
  }
  .member-container{
    gap: 20px;
  }
  .member-description .member-description-text{
    text-align: justify;
  }
}
